<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/favico.png" rel="icon" type="image/x-icon" />
<link href="default.css" rel="stylesheet" />
<title>Contato</title>
</head>
<body>

<header class="width">
    <div>
        <a href="/acabamentos">
            <img alt="Lototipo FF" src="ff_main_logo.png" />
        </a>
        <h1>Contato</h1>
    </div>
    <nav>
        <a href="/acabamentos">Acabamentos</a>
        <a href="/moveis">Móveis sob medida</a>
        <a href="https://ffmoveis.mercadoshops.com.br/" target="_blank">Loja</a>
        <a href="/contato">Contato</a>
    </nav>
</header>

<section>
    <div class="wide">
        <div class="width">            
            <div class="social">
                <div>
                    <div class="label">FF Acabamentos de Móveis</div>
                    <div class="icon">
                        <a href="https://www.facebook.com/61558073128795"><img alt="" src="/icon_facebook.png" /></a>
                        <a href="https://www.instagram.com/ffacabamentodemoveis"><img alt="" src="/icon_instagram.png" /></a>
                    </div>
                </div>
                <div>
                    <div class="label">FF Móveis</div>
                    <div class="icon">                
                        <a href="https://www.facebook.com/grupo.ffmoveis"><img alt="" src="/icon_facebook.png" /></a>
                        <a href="https://www.instagram.com/grupo.ffmoveis"><img alt="" src="/icon_instagram.png" /></a>
                    </div>
                </div>
                <div>
                    <address>
                        <div>Rua Quinze de novembro, 2195, Dois Córregos, São Paulo</div>
                        <div>Whatsapp: <a href="https://wa.me/+5514981459599" target="_blank">(14) 98145-9599</a></div>
                        <div>E-mail: <a href="mailto:grupo.ffmoveis@outlook.com">grupo.ffmoveis@outlook.com</a></div>
                    </address>
                </div>
            </div>
        </div>        
    </div>
</section>
    
</body>
</html>