<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/favico.png" rel="icon" type="image/x-icon" />
<link href="default.css" rel="stylesheet" />
<title>Contato</title>
</head>
<body>

<header class="width">
    <div>
        <a href="/acabamentos">
            <img alt="Lototipo FF" src="ff_main_logo.png" />
        </a>
        <h1>Contato</h1>
    </div>
    <nav>
        <a href="/acabamentos">Acabamentos</a>
        <a href="/moveis">Móveis sob medida</a>
        <a href="https://ffmoveis.mercadoshops.com.br/" target="_blank">Loja</a>
        <a href="/contato">Contato</a>
    </nav>
</header>

<section>
    <div class="wide-carousel">
        <div class="width">
            <address>
                <div>Rua Quinze de novembro, 2195, Dois Córregos, São Paulo</div>
                <div>Whatsapp: <a href="https://wa.me/+5514981459599" target="_blank">(14) 98145-9599</a></div>
                <div>E-mail: <a href="mailto:grupo.ffmoveis@outlook.com">grupo.ffmoveis@outlook.com</a></div>
            </address>
        </div>        
    </div>
</section>
    
</body>
</html>