<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/favico.png" rel="icon" type="image/x-icon" />
<link href="default.css" rel="stylesheet" />
<title>FF Acabamentos de Móveis</title>
</head>
<body>

<header class="width">
    <div>
        <a href="/acabamentos">
            <img alt="Lototipo FF" src="ff_main_logo.png" />
        </a>
        <h1>Acabamentos de Móveis</h1>
    </div>
    <nav>
        <a href="/acabamentos">Acabamentos</a>
        <a href="/moveis">Móveis sob medida</a>
        <a href="https://ffmoveis.mercadoshops.com.br/" target="_blank">Loja</a>
        <a href="/contato">Contato</a>
    </nav>
</header>

<section>
    <div class="wide-carousel">
        <div class="carousel">
            <div class="side left">
                <button title="Esquerda"></button>
            </div>
            <div class="container">
                <img alt="" src="/images/ac1.jpg" />
                <img alt="" src="/images/ac2.jpg" />
                <img alt="" src="/images/ac3.jpg" />
                <img alt="" src="/images/ac4.jpg" />
                <img alt="" src="/images/ac5.jpg" />
                <img alt="" src="/images/ac7.jpg" />
                <img alt="" src="/images/ac8.jpg" />
                <img alt="" src="/images/ac9.jpg" />
                <img alt="" src="/images/ac10.jpg" />
                <img alt="" src="/images/ac11.jpg" />
                <img alt="" src="/images/ac12.jpg" />
            </div>
            <div class="side right">
                <button title="Direita"></button>
            </div>
        </div>
    </div>
    <div class="width description">        
        <div>Fazemos todos os tipos de acabamentos.</div>
        <div>Laqueação, pátina, lustração, decapê, folhas de ouro, acabamento marmorizado, clareamento de madeiras etc.</div>
    </div>
</section>

<script src="/default.js"></script>
    
</body>
</html>