<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/favico.png" rel="icon" type="image/x-icon" />
<link href="default.css" rel="stylesheet" />
<title>FF Acabamentos de Móveis</title>
</head>
<body>

<header>
    <div>
        <a href="/acabamentos">
            <img alt="Lototipo FF" src="ff_main_logo.png" />
        </a>
        <h1>Acabamentos de Móveis</h1>
    </div>
    <nav>
        <a href="/acabamentos">Acabamentos</a>
        <a href="/moveis">Móveis sob medida</a>
        <a href="https://ffmoveis.mercadoshops.com.br/" target="_blank">Loja</a>
        <a href="/contato">Contato</a>
    </nav>
</header>

<section>
    <div class="item">
        <div class="images">
            <img alt="" src="435317120_122097921944269104_4331156725218637053_n.jpg" />
            <img alt="" src="435367824_122097921770269104_3955829057576590320_n.jpg" />
        </div>
    </div>
    <div class="item">
    </div>
</section>
    
</body>
</html>