<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/favico.png" rel="icon" type="image/x-icon" />
<link href="default.css" rel="stylesheet" />
<title>FF Móveis Sob Medida</title>
</head>
<body>

<header class="width">
    <div>
        <a href="/acabamentos">
            <img alt="Lototipo FF" src="ff_main_logo.png" />
        </a>
        <h1>Móveis Sob Medida</h1>
    </div>
    <nav>
        <a href="/acabamentos">Acabamentos</a>
        <a href="/moveis">Móveis sob medida</a>
        <a href="https://ffmoveis.mercadoshops.com.br/" target="_blank">Loja</a>
        <a href="/contato">Contato</a>
    </nav>
</header>

<section>
    <div class="wide">
        <div class="carousel">
            <div class="side left">
                <button title="Esquerda"></button>
            </div>
            <div class="container">
                <img alt="" src="/images/mo1.jpg" />
                <img alt="" src="/images/mo2.jpg" />
                <img alt="" src="/images/mo3.jpg" />
                <img alt="" src="/images/mo4.jpg" />
                <img alt="" src="/images/mo5.jpg" />
                <img alt="" src="/images/mo7.jpg" />
                <img alt="" src="/images/mo8.jpg" />
                <img alt="" src="/images/mo9.jpg" />
                <img alt="" src="/images/mo10.jpg" />
            </div>
            <div class="side right">
                <button title="Direita"></button>
            </div>
        </div>
    </div>
</section>

<script src="/default.js"></script>
    
</body>
</html>