*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body
{
    height: 100%;
    margin: 0;
}

.width
{
    margin: 0 auto;
    width: 1200px;
}

header
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header div
{
    align-items: end;
    display: flex;
    gap: 5px;
    padding: 5px 0;
}

header img
{
    height: 128px;
}

header h1
{
    margin: 0;
}

nav
{
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
}

nav a
{
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

nav a:hover
{
    border-bottom: 2px solid #333;
}

.wide
{
    background: linear-gradient(90deg, #FFFFFF, #0066d0);
    border-bottom: 5px solid #333;
    border-top: 5px solid #333;
    padding: 20px 0;
}

.carousel
{
    margin: auto;
    position: relative;
    width: 800px;
}

.carousel .side
{
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
}

.carousel button
{
    border: none;
    border-radius: 10%;
    cursor: pointer;
    height: 138px;
    width: 106px;
}

.carousel .side.left
{
    left: -128px;
}

.carousel .side.left button
{
    background: url('icon_arrow_left.png') center no-repeat;
}

.carousel .side.right
{
    right: -120px;
}

.carousel .side.right button
{
    background: url('icon_arrow_right.png') center no-repeat;
}

.carousel .side.left button:hover,
.carousel .side.right button:hover
{
    background-color: rgba(255, 255, 255, 50%);
}

.carousel .container
{
    border-radius: 10px;
    display: flex;
    gap: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 800px;
}

.carousel img
{
    width: 800px;
}

.description
{
    padding: 10px;
    text-align: center;
}

.social
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social .label
{
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

.icon img
{
    width: 32px;
}

@media only screen and (max-width: 768px)
{
    .width
    {
        margin: 0 auto;
        width: 100%;
    }

    header
    {
        display: block;
    }

    .wide
    {
        padding: 20px 10px;
    }

    .carousel
    {
        width: 100%;
    }

    .carousel button
    {
        height: 42px;
        width: 32px;
    }

    .carousel .side.left
    {
        left: 0;
    }

    .carousel .side.right
    {
        right: 0;
    }

    .carousel .side.left button
    {
        background: url('icon_arrow_left.png') center/auto 32px no-repeat;
    }

    .carousel .side.right button
    {
        background: url('icon_arrow_right.png') center/auto 32px no-repeat;
    }

    .carousel .container
    {
        overflow-x: auto;
        width: 100%;
    }

    .carousel img
    {
        width: 100%;
    }
}